crewai
crewai[tools]
openai==1.26.0
python-pptx
requests
python-dotenv
pillow
fal-client
python-decouple
markdown
markdown2
duckduckgo-search
beautifulsoup4
lxml
colormath
webcolors
svglib
reportlab
weasyprint
colorthief
cairosvg
numpy<2.0.0
chromadb<0.5.0

anthropic
rembg